@charset "utf-8";
	.NormalCharacterStyle1
{
	font-family : Trebuchet MS;
	font-weight : bold;
	font-size : 20px;
	color : #231F20;
	color : rgb(35, 31, 32);
}

.NormalCharacterStyle
{
	font-family : Trebuchet MS;
	font-size : 14px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle4
{
	font-family : Cocogoose;
	font-size : 35px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle3
{
	font-family : Trebuchet MS;
	font-size : 16px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : Trebuchet MS;
	font-size : 14px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.st0
{
	background : #9F9C9D;
	background : rgba(159, 156, 157, 1);
	position : absolute ;
	left : 1040px;
	top : 368px;
	width : 440px;
	height : 92px;
	border-radius : 26px;
	-moz-border-radius : 26px;
	-webkit-border-radius : 26px;
}
.st1
{
	background : #9F9C9D;
	background : rgba(159, 156, 157, 1);
	position : absolute ;
	left : 1072px;
	top : 590px;
	width : 16px;
	height : 16px;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1112px;
	top : 760px;
	width : 319px;
	height : 64px;
}
.st2
{
	background : #EF374B;
	background : rgba(239, 55, 75, 1);
	position : absolute ;
	left : 1187px;
	top : 621px;
	width : 145px;
	height : 46px;
	border-radius : 21px;
	-moz-border-radius : 21px;
	-webkit-border-radius : 21px;
}
.st3
{
	border-style : Solid;
	border-color : #EF3837;
	border-color : rgba(239, 56, 55, 1);
	border-width : 5px;
	position : absolute ;
	left : 957px;
	top : 229px;
	width : 0px;
	height : 630px;
}
.st4
{
	background : #F9F9FA;
	background : rgba(249, 249, 250, 1);
	position : absolute ;
	margin: auto;
	left : 338px;
	top : 189px;
	width : 70%;
	height : 60%;
	border-radius : 54px;
	-moz-border-radius : 54px;
	-webkit-border-radius : 54px;
}
.st5
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(224, 86, 138, 1) 0%,rgba(228, 77, 116, 1) 22.12%,rgba(235, 59, 68, 1) 74.12%,rgba(238, 52, 49, 1) 100%);
	background : -webkit-linear-gradient(0deg, rgba(224, 86, 138, 1) 0%, rgba(228, 77, 116, 1) 22.12%, rgba(235, 59, 68, 1) 74.12%, rgba(238, 52, 49, 1) 100%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(224, 86, 138, 1) ),color-stop(0.2212,rgba(228, 77, 116, 1) ),color-stop(0.7412,rgba(235, 59, 68, 1) ),color-stop(1,rgba(238, 52, 49, 1) ));
	background : -o-linear-gradient(0deg, rgba(224, 86, 138, 1) 0%, rgba(228, 77, 116, 1) 22.12%, rgba(235, 59, 68, 1) 74.12%, rgba(238, 52, 49, 1) 100%);
	background : -ms-linear-gradient(0deg, rgba(224, 86, 138, 1) 0%, rgba(228, 77, 116, 1) 22.12%, rgba(235, 59, 68, 1) 74.12%, rgba(238, 52, 49, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0568A', endColorstr='#EE3431' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(224, 86, 138, 1) 0%, rgba(228, 77, 116, 1) 22.12%, rgba(235, 59, 68, 1) 74.12%, rgba(238, 52, 49, 1) 100%);
	position : absolute ;
	left : 0px;
	top : -2px;
	width : 100%;
	height : 100%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0568A',endColorstr='#EE3431' , GradientType=1);
}

/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 40%;
	padding: 60px;
	text-align: center;
	margin:auto;
	
	
  }
  #particle-canvas {
	width: 100%;
	height: 100%;
  }
  .column1 {
	float: left;
	width: 40%;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	border-right: 2px Solid #EF374B;
	
  }
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  input[type=text], input[type=password] {
	width: 100%;
	height: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #9F9C9D;;
	box-sizing: border-box;
	background-color: #9F9C9D;;
	border-radius: 20px;
	color:#F9F9FA;
  }
  .button {
	background-color: #EF3838;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  .inp{
	  margin-left:120px;
  }

  .login-with-google-btn {
	transition: background-color 0.3s, box-shadow 0.3s;
	padding: 12px 16px 12px 42px;
	width:100%;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
	color: #757575;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: white;
	background-repeat: no-repeat;
	background-position: 12px 11px;
  }
  .login-with-google-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  .login-with-google-btn:active {
	background-color: #eeeeee;
  }
  .login-with-google-btn:focus {
	outline: none;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
  }

.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -3px;
	top : 12px;
	width : 1400px;
	height : 597px;
}
.st6
{
	background : #F9F9FA;
	background : rgba(249, 249, 250, 1);
	position : absolute ;
	left : 691px;
	top : 826px;
	width : 0px;
	height : 0px;
}
.st7
{
	border-style : Solid;
	border-color : #F9F9FA;
	border-color : rgba(249, 249, 250, 1);
	border-width : 3px;
	opacity : 0.25;
	position : absolute ;
	left : 0px;
	top : 309px;
	width : 1920px;
	height : 771px;
	filter: alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(opacity=25) ;
}
.st8
{
	background : #9F9C9D;
	background : rgba(159, 156, 157, 1);
	
	display:block;
	margin: auto;
	width : 100px;
	height : 100px;
	border-radius : 20px;
	-moz-border-radius : 20px;
	-webkit-border-radius : 20px;
}
.st9
{
	background : #9F9C9D;
	background : rgba(159, 156, 157, 1);
	position : absolute ;
	left : 1040px;
	top : 484px;
	width : 440px;
	height : 92px;
	border-radius : 29px;
	-moz-border-radius : 29px;
	-webkit-border-radius : 29px;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1065px;
	top : 392px;
	width : 35px;
	height : 46px;
}
